- require 'action_view'
- require 'json'
- def get_names() return @control_names.to_json end
    
doctype html
html
    head
        title sup
        script src="jquery.js"
        script src="knockout.js"

        javascript:

            var defaults = ["1 pulse #ff0000", "2 pulse #7fff00", "3 pulse #00ffff", "all pulse #7f00ff",
                            "1 pulse #ff5f00", "2 pulse #21ff00", "3 pulse #00a1ff", "all pulse #dc00ff",
                            "1 pulse #ffbf00", "2 pulse #00ff3f", "3 pulse #003fff", "all pulse #ff00bf",
                            "1 pulse #e1ff00", "2 pulse #00ff9d", "3 pulse #1d00ff", "all pulse #ff0061",
                            "1 brightness", "2 brightness", "3 brightness", "all brightness"];

            function parse_names() {
                s = "#{get_names()}";
                s = s.replace(/\&quot;/g, "\"");
                s = s.replace(/:true/g, "");
                s = s.replace("{", "[");
                s = s.replace("}", "]");
                eval("x=" + s);
                return x;
            }

            function changed(name, value) {
                data = {"name": name, "value": value};
                $.ajax('/changemode', {type: "POST", data: data});
            }

            function AppViewModel() {
                control_names = parse_names();
                for (var i in control_names) {
                    eval(control_names[i] + " = ko.observable(\"" + defaults[i] + "\");");
                    eval(control_names[i] + ".subscribe(function(){changed(\"" + control_names[i] + "\"," + control_names[i] + "())});")
                    changed(control_names[i], defaults[i]);
                }
            }

            $(document).ready(function() {
                ko.applyBindings(new AppViewModel());
            })

    body
        - @control_names.each do |name, value|
            span #{name}
            input data-bind="value: #{name}"
            br
